/* Group Selectors

(p)--> tüm p etiketleri

(div p)--> div içerisindeki tüm p etiketleri

(div,p)--> tüm div ve tüm p etiketleri 

(p + div)--> p etiketlerinden sonra gelen div etiketi

*/

div p{
    color: blue;
}

.container div p {
    color: brown;
}

div, p {
    color: chartreuse;
}

p + div {
    color: chocolate;
}